@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="alert-warning">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Warning!</strong> This demo app holds the shared data in a static field in the controller class. This is just for the example, and it is generally a bad practice! Use a database or other persistent storage to hold data, which should survive between the app requests and should be shared between all app users.
    </div>
</div>
